{% extends 'admins/base_template.html' %}
{% load static %}
{% load filter_filials %}
{% load get_index %}


  {% block main %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", { packages: ["bar"] });
      google.charts.setOnLoadCallback(drawChart);


      let data_list = [
        ["Operator", "Qabul qildi", "Tolov qilindi", "Bekor qilindi"] 
      ]

      '{% for oper in operators %}'
        data_list.push(['{{ operators|index:oper }}', '{{ oper.user.operator_clients|filter_filial:"recieved" }}', '{{ oper.user.operator_clients|filter_filial:"paid" }}', '{{ oper.user.operator_clients|filter_filial:"cancelled" }}']),
      '{% endfor %}'


      let data_list2 = [
        ["Agents", "Yaratdi"]
      ]

      '{% for agent in agents %}'
        data_list2.push(['{{ agents|index:agent }}', '{{ agent.user.agent_users.count }}']),
      '{% endfor %}'

      function drawChart() {
        var data = google.visualization.arrayToDataTable(data_list);

        var data2 = google.visualization.arrayToDataTable(data_list2);

        var options = {
          chart: {
            title: "Company Performance",
            subtitle: "Sales, Expenses, and Profit: 2014-2017",
          },
        };

        var chart = new google.charts.Bar(
          document.getElementById("columnchart_material")
        );

        var chart2 = new google.charts.Bar(
          document.getElementById("columnchart_material_2")
        );

        chart.draw(data, google.charts.Bar.convertOptions(options));

        chart2.draw(data2, google.charts.Bar.convertOptions(options));
      }
    </script>
    <main class="right" id="main-layout">
      <header>
        <nav class="navbar">
          <div class="nav__left">
            <h1 class="title">Аналитика</h1>
          </div>
          <div class="nav__right evanescence">
            <div class="operator">
              <img src="{% static 'img/operator.svg' %}" alt="" />
              <p>Operator: Ikromova Gulbahor</p>
            </div>
            <button class="out__btn">
              <img src="{% static 'img/log-out.svg' %}" alt="" />
            </button>
          </div>
        </nav>
      </header>
      <div class="background">
        {% if request.user.is_superuser %}
        <div class="cardo first__card">
          <div class="card__header mb-5">
            <h4 class="cardo__title">Filiallar</h4>

            <div class="header__right date__wrap">
              <p class="date">Sana</p>
              <div class="date__from">
                <input type="text" placeholder="01.01.2020" />
              </div>
              <div class="date__to">
                <input type="text" placeholder="01.01.2020" />
              </div>
            </div>
          </div>

          <table class="stat__table">
            <tr>
              <th class="gringo text-start">Filial nomi</th>
              <th>
                <p class="all">Umumiy anketalar</p>
              </th>
              <th>
                <p class="recieved">Qabul qildi</p>
              </th>
              <th>
                <p class="paid">Tolov qilindi</p>
              </th>
              <th>
                <p class="cancelled">Bekor qilindi</p>
              </th>
              <th>
                <p class="cancelled-cg">GC bekor qilindi</p>
              </th>
              <th>
                <p class="accepted">GreenCard oldi</p>
              </th>
            </tr>

            {% for obj in filials %}
            <tr>
              <td class="gringo text-start">{{ filials|index:obj }} {{ obj.name }}</td>
              <td>{{ obj.clients.count }}</td>
              <td>{{ obj.clients|filter_filial:"recieved" }}</td>
              <td>{{ obj.clients|filter_filial:"paid" }}</td>
              <td>{{ obj.clients|filter_filial:"cancelled" }}</td>
              <td>{{ obj.clients|filter_filial:"rejected" }}</td>
              <td>{{ obj.clients|filter_filial:"accepted" }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
        {% endif %}

        <div class="cardo chart__card">
          <div class="card__header mb-5">
            <h4 class="cardo__title">Operatorlar</h4>
            <div class="header__right date__wrap">
              <p class="date">Sana</p>
              <div class="date__from">
                <input type="text" placeholder="01.01.2020" />
              </div>
              <div class="date__to">
                <input type="text" placeholder="01.01.2020" />
              </div>
            </div>
          </div>
          <div class="sesh">
            <div class="lefting">
              <table class="stat__table">
                <tr>
                  <th class="gringo text-start">Filial nomi</th>
                  <th>
                    <p class="recieved">Qabul qildi</p>
                  </th>
                  <th>
                    <p class="paid">Tolov qilindi</p>
                  </th>
                  <th>
                    <p class="cancelled">Bekor qilindi</p>
                  </th>
                </tr>
                {% for obj in operators %}
                <tr>
                  <td class="gringo text-start">{{ operators|index:obj }} {{ obj.full_name }}</td>
                  <td>{{ obj.user.operator_clients|filter_filial:"recieved" }}</td>
                  <td>{{ obj.user.operator_clients|filter_filial:"paid" }}</td>
                  <td>{{ obj.user.operator_clients|filter_filial:"cancelled" }}</td>
                </tr>
                {% endfor %}
              </table>
            </div>
            <div class="righting">
              <div id="columnchart_material" style="width: 100%; height: 500px"></div>
            </div>
          </div>
        </div>

        <div class="cardo chart__card">
          <div class="card__header mb-5">
            <h4 class="cardo__title">Agentlar</h4>

            <div class="header__right date__wrap">
              <p class="date">Sana</p>
              <div class="date__from">
                <input type="text" placeholder="01.01.2020" />
              </div>
              <div class="date__to">
                <input type="text" placeholder="01.01.2020" />
              </div>
            </div>
          </div>
          <div class="sesh">
            <div class="lefting">
              <table class="stat__table">
                <tr>
                  <th class="text-start">Agent FISH</th>
                  <th>
                    <p class="all">Yaratdi</p>
                  </th>
                </tr>
                {% for obj in agents %}
                <tr>
                  <td class="text-start">Ismoilov Munisa</td>
                  <td>24</td>
                </tr>
                {% endfor %}
              </table>
            </div>
            <div class="righting">
              <div id="columnchart_material_2" style="width: 100%; height: 500px"></div>
            </div>
          </div>
        </div>
      </div>
    </main>

    {% endblock %}