{% extends 'admins/base_template.html' %}
{% load static %}
{% load filter_filials %}
{% load get_index %}
{% load filter_bydate %}

  {% block main %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", { packages: ["bar"] });
      google.charts.setOnLoadCallback(drawChart);


      let data_list = [
        ["Operator", "Qabul qildi", "Tolov qilindi", "Bekor qilindi"] 
      ]

      '{% for oper in operators %}'
        '{% with oper.user.operator_clients|by_date:oper_data as queryset %}'
          data_list.push(['{{ oper.full_name }}', 
          Number('{{ queryset|filter_filial:"recieved" }}'), 
          Number('{{ queryset|filter_filial:"paid" }}'), 
          Number('{{ queryset|filter_filial:"cancelled" }}')])
        '{% endwith %}'
      '{% endfor %}'


      let data_list2 = [
        ["Agents", "Yaratdi", "Qabul qildi", "Tolov qilindi", "Bekor qilindi", 'Aloqaga Chiqildi', 'GC Bekor Qilindi']
      ]

      '{% for obj in agents %}'
        '{% with obj.user.agent_users|by_date:agent_data as queryset %}'
          data_list2.push(['{{ obj.full_name }}', Number('{{ queryset.count }}'), Number('{{ queryset|filter_filial:"recieved" }}'), Number('{{ queryset|filter_filial:"paid" }}'),                 
            Number('{{ queryset|filter_filial:"cancelled" }}'),
            Number('{{ queryset|filter_filial:"contacted" }}'),
            Number('{{ queryset|filter_filial:"rejected" }}')])
        '{% endwith %}'
      '{% endfor %}'


      console.log(data_list2)

      function drawChart() {
        var data = google.visualization.arrayToDataTable(data_list);

        var data2 = google.visualization.arrayToDataTable(data_list2);

        var options = {
          chart: {
            title: "Company Performance",
            subtitle: "Sales, Expenses, and Profit: 2014-2017",
          },
        };

        '{% if not request.user.info.is_agent %}'
        var chart = new google.charts.Bar(
          document.getElementById("columnchart_material")
        );
        
        chart.draw(data, google.charts.Bar.convertOptions(options));
        '{% endif %}'

        '{% if not request.user.info.is_operator %}'
        var chart2 = new google.charts.Bar(
          document.getElementById("columnchart_material_2")
        );

        chart2.draw(data2, google.charts.Bar.convertOptions(options));
        '{% endif %}'
      }
    </script>
    <main class="right" id="main-layout">
      <header>
        <nav class="navbar">
          <div class="nav__left">
            <h1 class="title">Аналитика</h1>
          </div>
          <div class="nav__right evanescence">
            <div class="operator">
              <img src="{% static 'img/operator.svg' %}" alt="" />
              <p>{% if request.user.info.is_operator %}
                Operator:
                {% elif request.user.info.is_agent %}
                Agent:
                {% elif request.user.info.is_filial %}
                Filial admin:
                {% elif request.user.is_superuser %}
                Super Admin:
                {% endif %} {{ request.user.first_name }} {{ request.user.last_name }}</p>
            </div>
            <button class="out__btn">
              <img src="{% static 'img/log-out.svg' %}" alt="" />
            </button>
          </div>
        </nav>
      </header>
      <div class="background">
        {% if request.user.is_superuser %}
        <div class="cardo first__card">
          <div class="card__header mb-5">
            <h4 class="cardo__title">Filiallar</h4>

            <form class="header__right date__wrap" method="">
              <p class="date">Sana</p>
              <div class="date__from">
                <input name="filial_from_date" type="date" placeholder="01.01.2020" />
              </div>
              <div class="date__to">
                <input name="filial_to_date" type="date" placeholder="01.01.2020" />
              </div>
              <button type="submit" class="confirm">
                Применить
              </button>
            </form>
          </div>

          <table class="stat__table">
            <tr>
              <th class="gringo text-start">Filial nomi</th>
              <th>
                <p class="all">Umumiy anketalar</p>
              </th>
              <th>
                <p class="recieved">Qabul qildi</p>
              </th>
              <th>
                <p class="paid">Tolov qilindi</p>
              </th>
              <th>
                <p class="cancelled">Bekor qilindi</p>
              </th>
              <th>
                <p class="cancelled-cg">GC bekor qilindi</p>
              </th>
              <th>
                <p class="accepted">GreenCard oldi</p>
              </th>
            </tr>

            {% for obj in filials %}
            {% with obj.clients|by_date:filial_data as queryset %}
            <tr>
              <td class="gringo text-start">{{ filials|index:obj }} {{ obj.name }}</td>
              <td>{{ obj.clients.count }}</td>
              <td>{{ obj.clients|filter_filial:"recieved" }}</td>
              <td>{{ obj.clients|filter_filial:"paid" }}</td>
              <td>{{ obj.clients|filter_filial:"cancelled" }}</td>
              <td>{{ obj.clients|filter_filial:"rejected" }}</td>
              <td>{{ obj.clients|filter_filial:"accepted" }}</td>
            </tr>
            {% endwith %}
            {% endfor %}
          </table>
        </div>
        {% endif %}


        {% if not request.user.info.is_agent %}
        <div class="cardo chart__card">
          <div class="card__header mb-5">
            <h4 class="cardo__title">Operatorlar</h4>
            <form class="header__right date__wrap" method="get">
              <p class="date">Sana</p>
              <div class="date__from">
                <input name="operator_from_date" type="date" placeholder="01.01.2020" />
              </div>
              <div class="date__to">
                <input name="operator_to_date" type="date" placeholder="01.01.2020" />
              </div>
              <button type="submit" class="confirm">
                Применить
              </button>
            </form>
          </div>
          <div class="sesh">
            <div class="lefting">
              <table class="stat__table">
                <tr>
                  <th class="gringo text-start">Filial nomi</th>
                  <th>
                    <p class="recieved">Qabul qildi</p>
                  </th>
                  <th>
                    <p class="paid">Tolov qilindi</p>
                  </th>
                  <th>
                    <p class="cancelled">Bekor qilindi</p>
                  </th>
                </tr>
                {% for obj in operators %}
                {% with obj.user.operator_clients|by_date:oper_data as queryset %}
                <tr>
                  <td class="gringo text-start">{{ operators|index:obj }} {{ obj.full_name }}</td>
                  <td>{{ queryset|filter_filial:"recieved" }}</td>
                  <td>{{ queryset|filter_filial:"paid" }}</td>
                  <td>{{ queryset|filter_filial:"cancelled" }}</td>
                </tr>
                {% endwith %}
                {% endfor %}
              </table>
            </div>
            <div class="righting">
              <div id="columnchart_material" style="width: 100%; height: 500px"></div>
            </div>
          </div>
        </div>
        {% endif %}
  
        {% if not request.user.info.is_operator %}
        <div class="cardo chart__card">
          <div class="card__header mb-5">
            <h4 class="cardo__title">Agentlar</h4>

            <form class="header__right date__wrap">
              <p class="date">Sana</p>
              <div class="date__from">
                <input name="agent_from_date" type="date" placeholder="01.01.2020" />
              </div>
              <div class="date__to">
                <input name="agent_to_date" type="date" placeholder="01.01.2020" />
              </div>
              <button type="submit" class="confirm">
                Применить
              </button>
            </form>
          </div>
          <div class="sesh">
            <div class="lefting">
              <table class="stat__table">
                <tr>
                  <th class="text-start">Agent FISH</th>
                  <th>
                    <p class="all">Yaratdi</p>
                  </th>
                  <th>
                    <p class="recieved">Qabul qildi</p>
                  </th>
                  <th>
                    <p class="paid">Tolov qilindi</p>
                  </th>
                  <th>
                    <p class="cancelled">Bekor qilindi</p>
                  </th>
                  <th>
                    <p class="cancelled"  style="color: rgb(171, 71, 188);">Aloqaga chiqildi</p>
                  </th>
                  <th>
                    <p class="cancelled">GC bekor qilindi</p>
                  </th>
                </tr>
                {% for obj in agents %}
                {% with obj.user.agent_users|by_date:agent_data as queryset %}
                <tr>
                  <td class="text-start">{{ agents|index:obj }} {{ obj.full_name }}</td>
                  <td>{{ queryset.count }}</td>
                  <td>{{ queryset|filter_filial:"recieved" }}</td>
                  <td>{{ queryset|filter_filial:"paid" }}</td>
                  <td>{{ queryset|filter_filial:"cancelled" }}</td>
                  <td>{{ queryset|filter_filial:"contacted" }}</td>
                  <td>{{ queryset|filter_filial:"rejected" }}</td>
                </tr>
                {% endwith %}
                {% endfor %}
              </table>
            </div>
            <div class="righting">
              <div id="columnchart_material_2" style="width: 100%; height: 500px"></div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </main>

    {% endblock %}