{% extends 'admins/base_template.html' %}
{% load static %}


{% block main %}
<main class="right" id="main-layout">
    <header>
        <nav class="navbar" style="height: 83px">
            <div></div>
            <div class="nav__right evanescence">
                <div class="operator">
                    <img src="{% static 'img/operator.svg' %}" alt="" />
                    <p>{% if request.user.info.is_operator %}
                        Operator:
                        {% elif request.user.info.is_agent %}
                        Agent:
                        {% elif request.user.info.is_filial %}
                        Filial admin:
                        {% elif request.user.is_superuser %}
                        Super Admin:
                        {% endif %} {{ request.user.first_name }} {{ request.user.last_name }}</p>
                </div>
                <button class="back">
                    <i class="bx bx-left-arrow-alt"></i> Назад
                </button>
            </div>
        </nav>
    </header>
    <div class="background">
        <form method="post">
            <div class="row">
                {{ form.errors }}
                {% csrf_token %}
                <div class="col-8">
                    <div class="cardo client__info mb-4">
                        <h4 class="card__title">Информация о клиенте</h4>
                        <div class="items">
                            <div class="item">
                                <label for="name"> Имя Фамилия Отчество </label>
                                <input id="name" name="full_name" type="text" value="{{ object.full_name }}"
                                    class="item__input" placeholder="Имя Фамилия Отчество" />
                            </div>
                            <div class="item half__item">
                                <label for="birthday"> Дата рождения</label>
                                <input id="birthday" name="bith_date" type="date" value="{{ object.bith_date }}"
                                    class="item__input" placeholder="Дата рождения" />
                            </div>
                            <div class="item">
                                <label for="address"> Полный адрес</label>
                                <input id="address" name="adres" type="text" value="{{ object.adress }}"
                                    class="item__input" placeholder="Полный адрес" />
                            </div>
                            <div class="item half__item">
                                <label for="education"> Образование </label>
                                <div class="custom-select" style="width: 200px">
                                    <select name="education">
                                        <option value="">Образование</option>
                                        <option value="Oliy">Oliy
                                        </option>
                                        <option value="Orta">Orta
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="item half__item">
                                <label for="num"> Контактный телефон </label>
                                <input id="num" name="nbm" type="text" value="{{ object.nbm }}" class="item__input"
                                    placeholder="Контактный телефон " />
                            </div>
                            <div class="item radio__item">
                                <label class="">Пол клиента</label>
                                <div class="flexer__select m-0">
                                    <div class="">
                                        <input type="radio" value="Erkak" id="test1" name="sex" checked/>
                                        <label class="radiohead radio-1" for="test1">
                                            <p class="radio__txt">Erkak</p>
                                        </label>
                                    </div>
                                    <div class="">
                                        <input type="radio" value="Ayol" id="test2" name="sex" />
                                        <label class="radiohead radio-2" for="test2">
                                            <p class="radio__txt">Ayol</p>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="item">
                                <label for="education-1"> Oyilaviy xolati </label>
                                <div class="custom-select" style="width: 200px">
                                    <select name="family_status">
                                        <option value="Boydoq">Boydoq</option>
                                        <option value="Uylangan">Uylangan</option>
                                        <option value="Turmishga chiqgan">Turmishga chiqgan</option>
                                    </select>
                                </div>
                            </div>
                            <div class="item half__item">
                                <label for="children"> Дети </label>
                                <input id="children" name="child_count" type="text"
                                    class="item__input" placeholder="Дети " />
                            </div>
                            <hr />
                            <div class="item">
                                <label for="husband"> Супруг/Супруга </label>
                                <input id="husband" name="spouse" type="text"
                                    class="item__input" placeholder="Супруг/Супруга " />
                            </div>
                            <div class="item half__item">
                                <label for="birthday-2"> Дата рождение </label>
                                <input id="birthday-2" name="spouse_birth_date" type="date" class="item__input"
                                    placeholder="Дата рождение" />
                            </div>

                            <div class="item half__item">
                                <label for="education-1"> Образование </label>
                                <div class="custom-select" style="width: 200px">
                                    <select name="spouse_education">
                                        <option value="">Образование</option>
                                        <option value="Oliy">Oliy</option>
                                        <option value="Orta">Orta</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <button class="confirm">Сохранить</button>
                    </div>

                    <div class="cardo file__card">
                        <h4 class="card__title">Файлы</h4>

                        <div class="file__items">
                            <div class="file__item mb-4">
                                <label for="passport"> Добавить копия паспорта </label>
                                <!-- ПОСТАВЬ ДРОПЗОН СЮДА -->
                                <div class="my-dropzone dropzone" data-key="images" data-delete="/images/delete">
                                    <div class="dz-preview-container" id="drop-image" style="padding: 0;">
                                        {% if object %}
                                        <div class="dz-preview dz-processing dz-complete dz-image-preview d-none">
                                            <div class="dz-image">
                                                <img data-dz-thumbnail="" src="" alt="">
                                            </div>
                                            <div class="dz-details">
                                                <div class="dz-filename"><span data-dz-name=""></span></div>
                                            </div>
                                            <a class="dz-remove" data-file="" data-dz-remove>Удалить</a>
                                        </div>
                                            {% if object.images %}
                                                {% for img in object.images.all %}
                                                    <div class="dz-preview dz-processing dz-complete dz-image-preview" style="position: relative;">
                                                        <div class="dz-image">
                                                            <img data-dz-thumbnail="" src='{% image_thumb img.image alias="ten" request=request %}'
                                                                alt="{{ img.image }}">
                                                        </div>
                                                        <div class="dz-details">
                                                            <div class="dz-filename"><span data-dz-name="">{{ img.image }}</span>
                                                            </div>
                                                        </div>
                                                        <a class="dz-remove" data-file="{{ img.id }}"
                                                            onclick="var result = confirm('Want to delete?');if (result){submit_form('delete-form')}"
                                                            data-dz-remove>Удалить</a>
                                                        <div action="" id="delete-form" method="post">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="url" value="{{ request.get_full_path }}">
                                                            <input type="hidden" name="obj_id" value="{{ object.id }}">
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="file__item mb-4">
                                <label for="passport"> Добавить PDF файл </label>
                                <!-- ПОСТАВЬ ДРОПЗОН СЮДА -->
                                <div class="my-dropzone dropzone" data-key="files" data-delete="/images/delete">
                                    <div class="dz-preview-container" id="drop-files" style="padding: 0;">
                                        {% if object %}
                                        <div class="dz-preview dz-processing dz-complete dz-image-preview d-none">
                                            <div class="dz-image">
                                                <img data-dz-thumbnail="" src="" alt="">
                                            </div>
                                            <div class="dz-details">
                                                <div class="dz-filename"><span data-dz-name=""></span></div>
                                            </div>
                                            <a class="dz-remove" data-file="" data-dz-remove>Удалить</a>
                                        </div>
                                        {% if object.files %}
                                        {% for file in object.files.all %}
                                        <div class="dz-preview dz-processing dz-complete dz-image-preview" style="position: relative;">
                                            <div class="dz-image">
                                                <a href="{{ file.file }}">
                                                    <img data-dz-thumbnail="" src='{% static "img/pdf.png" %}'
                                                    alt="{{ img.image }}">
                                                </a> 
                                            </div>
                                            <div class="dz-details">
                                                <div class="dz-filename"><span data-dz-name="">{{ file.file }}</span>
                                                </div>
                                            </div>
                                            <a class="dz-remove" data-file="{{ img.id }}"
                                                onclick="var result = confirm('Want to delete?');if (result){submit_form('delete-form')}"
                                                data-dz-remove>Удалить</a>
                                            <div action="" id="delete-form" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="url" value="{{ request.get_full_path }}">
                                                <input type="hidden" name="obj_id" value="{{ object.id }}">
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <button class="confirm">Сохранить</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
{% endblock %}
