{% extends 'admins/base_template.html' %}
{% load static %}
{% load list_item %}

{% block main %}
<main class="right" id="main-layout">
    <header>
        <nav class="navbar" style="height: 83px">
            <div></div>
            <div class="nav__right evanescence">
                <div class="operator">
                    <img src="{% static 'img/operator.svg' %}" alt="" />
                    <p>{% if request.user.info.is_operator %}
                        Operator:
                        {% elif request.user.info.is_agent %}
                        Agent:
                        {% elif request.user.info.is_filial %}
                        Filial admin:
                        {% elif request.user.is_superuser %}
                        Super Admin:
                        {% endif %} {{ request.user.first_name }} {{ request.user.last_name }}</p>
                </div>
                <button class="back" onclick="history.back();">
                    <i class="bx bx-left-arrow-alt"></i> Назад
                </button>
            </div>
        </nav>
    </header>
    <div class="background">
        <form method="post">
            <div class="row">
                {% csrf_token %}
                <div class="col-8">
                    <div class="cardo client__info mb-4">
                        <h4 class="card__title">Mijoz haqida ma'lumot</h4>
                        <div class="items">
                            <div class="item">
                                <label for="name"> F.I.Sh </label>
                                <input id="name" name="full_name" type="text" required maxlength="255"
                                    class="item__input" placeholder="F.I.Sh" />
                            </div>
                            <div class="item half__item">
                                <label for="birthday"> Tug'ilgan sana</label>
                                <input id="birthday" name="bith_date" type="date"
                                    class="item__input" placeholder="Дата рождения" />
                            </div>
                            <div class="item">
                                <label for="address"> To'liq manzil</label>
                                <input id="address" name="adres" type="text" maxlength="255"
                                    class="item__input" placeholder="To'liq manzil" />
                            </div>
                            <!--<div class="item">
                                <label for="address">Tug'ilgan manzil</label>
                                <input id="address" name="birth_adres" maxlength="255" type="text" class="item__input"
                                    placeholder="Tug'ilgan manzil" />
                            </div>-->
                            <div class="item half__item">
                                <label for="education"> Tug'ilgan manzil </label>
                                <div class="custom-select" style="width: 200px">
                                    <select name="state">
                                        <option value="">Viloyat</option>
                                        {% for opt in states %}
                                            <option value="{{ opt|list_item:1 }}">{{ opt|list_item:0 }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="item half__item">
                                <label for="education"> Ma'lumoti </label>
                                <div class="custom-select" style="width: 200px">
                                    <select name="education">
                                        <option value="">Ma'lumoti</option>
                                        <option value="Oliy">Oliy
                                        </option>
                                        <option value="Orta">Orta
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="item half__item">
                                <label for="num"> Telefon raqami </label>
                                <input id="num" name="nbm" type="text" maxlength="255" class="item__input"
                                    placeholder="Контактный телефон " />
                            </div>
                            <div class="item radio__item">
                                <label class="">Jinsi</label>
                                <div class="flexer__select m-0">
                                    <div class="">
                                        <input type="radio" value="Erkak" id="test1" name="sex" checked/>
                                        <label class="radiohead radio-1" for="test1">
                                            <p class="radio__txt">Erkak</p>
                                        </label>
                                    </div>
                                    <div class="">
                                        <input type="radio" value="Ayol" id="test2" name="sex" />
                                        <label class="radiohead radio-2" for="test2">
                                            <p class="radio__txt">Ayol</p>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="item">
                                <label for="education-1"> Oyilaviy xolati </label>
                                <div class="custom-select" style="width: 200px">
                                    <select name="family_status">
                                        <option value="Boydoq">Boydoq</option>
                                        <option value="Uylangan">Uylangan</option>
                                        <option value="Turmishga chiqgan">Turmishga chiqgan</option>
                                    </select>
                                </div>
                            </div>
                            <div class="item half__item">
                                <label for="children"> Farzandlari </label>
                                <input id="children" name="child_count" type="number"
                                    class="item__input" placeholder="Дети" value="0" />
                            </div>

                            <div class="item half__item">
                                <label for="children"> Farzandlari </label>
                                <textarea id="children" name="child_information" class="editor" placeholder="Дети "></textarea>
                            </div>

                            <hr />
                            <div class="item">
                                <label for="husband"> Turmush o'rtog'i </label>
                                <input id="husband" name="spouse" type="text"
                                    class="item__input" maxlength="255" placeholder="Супруг/Супруга " />
                            </div>
                            <div class="item half__item">
                                <label for="birthday-2"> Tug'ilgan sana </label>
                                <input id="birthday-2" name="spouse_birth_date" type="date" class="item__input"
                                    placeholder="Дата рождение" />
                            </div>

                            <div class="item">
                                <label for="address">To'liq manzil</label>
                                <input id="address" name="spouse_adres" type="text" maxlength="255" class="item__input" placeholder="To'liq manzil" />
                            </div>
                            <!--<div class="item">
                                <label for="address"></label>
                                <input id="address" name="spouse_birth_adres" maxlength="255" type="text" class="item__input" placeholder="Tug'ilgan manzil" />
                            </div>-->
                            <div class="item half__item">
                                <label for="education"> Tug'ilgan manzil </label>
                                <div class="custom-select" style="width: 200px">
                                    <select name="spouse_state">
                                        <option value="">Viloyat</option>
                                        {% for opt in states %}
                                        <option value="{{ opt|list_item:1 }}">{{ opt|list_item:0 }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="item half__item">
                                <label for="education-1"> Ma'lumoti </label>
                                <div class="custom-select" style="width: 200px">
                                    <select name="spouse_education">
                                        <option value="">Ma'lumoti</option>
                                        <option value="Oliy">Oliy</option>
                                        <option value="Orta">Orta</option>
                                    </select>
                                </div>
                            </div>

                            <div class="item half__item">
                                <label for="num"> Telefon raqami </label>
                                <input id="num2" name="spouse_nbm" type="text" maxlength="255" class="item__input" placeholder="Контактный телефон " />
                            </div>
                            <div class="item radio__item">
                                <label class="">Jinsi</label>
                                <div class="flexer__select m-0">
                                    <div class="">
                                        <input type="radio" value="Erkak" id="test3" name="spouse_sex"/>
                                        <label class="radiohead radio-1" for="test3">
                                            <p class="radio__txt">Erkak</p>
                                        </label>
                                    </div>
                                    <div class="">
                                        <input type="radio" value="Ayol" id="test4" name="spouse_sex" checked/>
                                        <label class="radiohead radio-2" for="test4">
                                            <p class="radio__txt">Ayol</p>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <button class="confirm">Saqlash</button>
                    </div>

                    <div class="cardo file__card">
                        <h4 class="card__title">Fayllar</h4>

                        <div class="file__items">
                            <div class="file__item mb-4">
                                <label for="passport"> Pasport nusxasini yuklash </label>
                                <!-- ПОСТАВЬ ДРОПЗОН СЮДА -->
                                <div class="my-dropzone dropzone" data-accept="image/*" data-key="images" data-delete="/images/delete">
                                    <div class="dz-preview-container" id="drop-image" style="padding: 0;">
                                    </div>
                                </div>
                            </div>
                            <div class="file__item mb-4">
                                <label for="passport"> PDF-fayl yuklash </label>
                                <!-- ПОСТАВЬ ДРОПЗОН СЮДА -->
                                <div class="my-dropzone dropzone" data-accept="application/pdf,.doc,.docx,.xls,.xlsx,.csv,.tsv,.ppt,.pptx,.pages,.odt,.rtf" data-key="files" data-delete="/images/delete">
                                <div class="dz-preview-container" id="drop-files" style="padding: 0;">
                                </div>
                                </div>
                            </div>
                            <button class="confirm">Saqlash</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
{% endblock %}
