{% extends 'admins/base_template.html' %}
{% load static %}


{% block main %}
  <main class="right" id="main-layout">
    <header>
      <nav class="navbar">
        <div class="nav__left">
          <h1 class="title">Клиенты</h1>
          {% if request.user.info.is_agent %}
          <button onclick="window.location=`{% url 'admins:clients_create' %}`" type="button" class="create" id="create-btn">
            <i class="bx bx-plus"></i>Создать клиента
          </button>
          {% endif %}
        </div>
        <div class="nav__right evanescence">
          <div class="operator">
            <img src="{% static 'img/operator.svg' %}" alt="" />
            <p>
              {% if request.user.info.is_operator %}
              Operator: 
              {% elif request.user.info.is_agent %}
              Agent:
              {% elif request.user.info.is_filial %}
              Filial admin:
              {% elif request.user.is_superuser %}
              Super Admin:
              {% endif %}
              {{ request.user.first_name }} {{ request.user.last_name }}</p>
          </div>
          <a href="{% url 'admins:logout_url' %}" class="out__btn">
            <img src="{% static 'img/log-out.svg' %}" alt="" />
          </a>
        </div>
      </nav>
    </header>
    <div class="background">
      <div class="buttons">
        <a href="{{ request.path }}" class="button">
          <img src="{% static 'img/logo/user.svg' %}" alt="" /> Все заказы
        </a>
        <a href="{{ status_url }}status=Yangi mijoz" {% if request.GET.status == 'Yangi mijoz' %} class="button active" {% else %} class="button" {% endif %}>
          <img src="{% static 'img/logo/clock.svg' %}" alt="" /> Новые заказы
        </a>
        <a href="{{ status_url }}status=Operator qabul qildi" {% if request.GET.status == 'Operator qabul qildi' %} class="button active" {% else %} class="button" {% endif %}>
          <img src="{% static 'img/logo/download.svg' %}" alt="" /> Оператор принял
        </a>
        <a href="{{ status_url }}status=Mijozga aloqaga chiqildi" {% if request.GET.status == 'Mijozga aloqaga chiqildi' %} class="button active" {% else %} class="button" {% endif %}>
          <img src="{% static 'img/logo/phone.svg' %}" alt="" /> Клиент вышел на связь
        </a>
        <a href="{{ status_url }}status=To‘lov qilindi" {% if request.GET.status == 'To‘lov qilindi' %} class="button active" {% else %} class="button" {% endif %}>
          <img src="{% static 'img/logo/cash.svg' %}" alt="" /> Оплачено
        </a>
        <a href="{{ status_url }}status=Operator tomonidan bekor qilish" {% if request.GET.status == 'Operator tomonidan bekor qilish' %} class="button active" {% else %} class="button" {% endif %}>
          <img src="{% static 'img/logo/circle.svg' %}" alt="" /> Оператор отменил
        </a>
        <a href="{{ status_url }}status=GreenCard oldi" {% if request.GET.status == 'GreenCard oldi' %} class="button active" {% else %} class="button" {% endif %}>
          <img src="{% static 'img/logo/happy.svg' %}" alt="" /> Грин-карта одобрена
        </a>
        <a href="{{ status_url }}status=GreenCard tomonidan bekor qilindi" {% if request.GET.status == 'GreenCard tomonidan bekor qilindi' %} class="button active" {% else %} class="button" {% endif %}>
          <img src="{% static 'img/logo/x.svg' %}" alt="" /> Грин-карта отменена
        </a>
      </div>

      <section class="list">
        <div class="list__header">
          <div class="list__header-left">
            <h2 class="list__title">Клиенты</h2>

            <div class="search__wrap">
              <form action="">
                {% for key, val in request.GET.items %}
                {% if key != "q" %}
                <input type="hidden" name="{{ key }}" value="{{ val }}">
                {% endif %}
                {% endfor %}
                <div class="search">
                  <input
                    id="search" name="q"
                    {% if request.GET.q %} value="{{ request.GET.q }}" {% endif %}
                    type="text"
                    placeholder="Поиск клиентов"
                  />
                  <label for="search">
                    <i class="bx bx-search"></i>
                  </label>
                </div>
                <button class="search__btn">Поиск</button>
              </form>
            </div>
          </div>
          <div class="list__header-right">
            <a id="" href="{{ request.path }}" class="list__settings">
              Yangilash
              <i
                class="bi bi-arrow-clockwise cocky"
                style="transform: rotate(-160deg)"
              ></i>
            </a>
            <button id="setting-btn" class="list__settings">
              Filtr
              <i class="bi bi-chevron-down cocky"></i>
            </button>
            <div class="list__setting-body filtr" id="setting-body">
              <form action="">
                {% for key, val in request.GET.items %}
                  {% if key == "q" or key == 'page_size' or key == 'status' %}
                    <input type="hidden" name="{{ key }}" value="{{ val }}">
                  {% endif %}
                {% endfor %}
                {% if request.user.is_superuser %}
                <div class="item">
                  <label for="education-1"> Filial </label>
                  <div class="custom-select">
                    <i class="bi bi-chevron-down abs__icon"></i>
                    <select name="filial">
                      <option value="0">Filiallar:</option>
                      {% for filial in filials %}
                      <option value="{{ filial.id }}">{{ filial.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                {% endif %}
                {% if request.user.is_superuser or request.user.info..is_filial %}
                <div class="item">
                  <label for="education-1"> Operator </label>
                  <div class="custom-select">
                    <i class="bi bi-chevron-down abs__icon"></i>
                    <select name="operator">
                      <option value="0">Select operator:</option>
                      {% for oper in operators %}
                        {% if request.GET.operator == oper.id %}
                          <option value="{{ oper.id }}" selected>{{ oper.user.username }}</option>
                        {% else %}
                          <option value="{{ oper.id }}">{{ oper.user.username }}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="item">
                  <label for="address"> Agentlar</label>
                  <div class="custom-select">
                    <i class="bi bi-chevron-down abs__icon"></i>
                      <select name="agent">
                        <option value="0">Select agentls:</option>
                          {% for oper in agents %}
                            {% if request.GET.agent == oper.id %}
                              <option value="{{ oper.id }}" selected>{{ oper.user.username }}</option>
                            {% else %}
                              <option value="{{ oper.id }}">{{ oper.user.username }}</option>
                            {% endif %}
                          {% endfor %}
                      </select>
                  </div>
                </div>
                {% endif %}
                <div class="flex__item">
                  <div class="item">
                    <label for="address"> Boshlanishi</label>
                    <input
                      id="address"
                      type="date" name="from_date"
                      class="item__input w-100"
                      placeholder="Boshlanishi"
                    />
                  </div>
                  <div class="item">
                    <label for="address"> Tugallanishi</label>
                    <input
                      id="address"
                      type="date" name="to_date"
                      class="item__input w-100"
                      placeholder="Tugallanishi"
                    />
                  </div>
                </div>
                <div class="filter__btns">
                  <a id="" href="{{ request.path }}" type="reset" class="list__settings">
                    Yangilash
                    <i
                      class="bi bi-arrow-clockwise cocky"
                      style="transform: rotate(-160deg)"
                    ></i>
                  </a>
                  <button id="" class="confirm">Tasdiqlash</button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="list-wrap">
          <table class="table">
            <tr class="table__header">
              <th>
                <div class="list__item">
                  <p class="list__item-title">№</p>
                </div>
              </th>
              <th>
                <div class="list__item">
                  <button class="confirm disable">
                    <img src="{% static 'img/download.svg' %}" alt="" /> Действие
                  </button>
                </div>
              </th>
              <th>
                <div class="list__item">
                  <p class="list__item-title">Ф.И.О. клиента</p>
                </div>
              </th>
              <th>
                <div class="list__item">
                  <p class="list__item-title">Номер телефона</p>
                </div>
              </th>
              <th>
                <div class="list__item">
                  <p class="list__item-title">Этап заказа</p>
                </div>
              </th>
              <th>
                <div class="list__item">
                  <p class="list__item-title">Operator</p>
                </div>
              </th>
              <th>
                <div class="list__item">
                  <p class="list__item-title">Регион</p>
                </div>
              </th>
              <th>
                <div class="list__item">
                  <p class="list__item-title">Дата регистрации</p>
                </div>
              </th>
              <th>
                <div class="list__item">
                  <p class="list__item-title">Агент</p>
                </div>
              </th>
              <th>
                <div class="list__item">
                  <p class="list__item-title">информация</p>
                </div>
              </th>
              <th>
                <div class="list__item">
                  <p class="list__item-title">PDF-файл</p>
                </div>
              </th>
              <th></th>
            </tr>
            {% for obj, i in objects.pairs %}
            <tr>
              <td>
                <div class="list__item">
                  <p class="list__item-txt num">{{ i }}</p>
                </div>
              </td>
              <th>
                <div class="list__item">
                  {% if request.user.info.is_operator and obj.operator is None %}
                  <button
                    onclick="location.href=`{% url 'admins:clients_detail' obj.id %}`;"
                    class="confirm">
                    <img src="{% static 'img/download.svg' %}" alt="" /> Принять
                  </button>
                  {% else %}
                  <button onclick="location.href=`{% url 'admins:clients_detail' obj.id %}`;" class="confirm">
                    <img src="{% static 'img/eye.svg' %}" alt="" /> Смотреть
                  </button>
                  {% endif %}
                </div>
              </th>
              <td>
                <div class="list__item">
                  <p class="list__item-txt name">{{ obj.full_name }}</p>
                </div>
              </td>
              <td>
                <div class="list__item">
                  <p class="list__item-txt num">{{ obj.nbm }}</p>
                </div>
              </td>
              <td>
                <div class="list__item level salad">
                  <p class="list__item-txt">{{ obj.get_status_display }}</p>
                </div>
              </td>
              <td>
                <div class="list__item">
                  <p class="list__item-txt">
                    {% if obj.operator %}
                      {{ obj.operator.username }}
                    {% else %}
                      Не определено
                    {% endif %}
                  </p>
                </div>
              </td>
              <td>
                <div class="list__item">
                  <p class="list__item-txt">Andijan</p>
                </div>
              </td>
              <td>
                <div class="list__item">
                  <p class="list__item-txt">{{ obj.agent_date|date:'Y-m-d' }}</p>
                </div>
              </td>
              <td>
                <div class="list__item">
                  <p class="list__item-txt">{{ obj.get_agent }}</p>
                </div>
              </td>
              <td>
                <div class="list__item">
                  <div class="list__item-txt">
                    <div class="percent">
                      <div class="width" style="width: {{ obj.get_percent }}%;"></div>
                    </div>                    
                    {{ obj.get_percent }}%
                  </div>
                </div>
              </td>
              <td>
                <div class="list__item">
                  <p class="list__item-txt name">
                    {% if obj.files.exists %}
                    Есть
                    {% else %}
                    Нет
                    {% endif %}
                  </p>
                </div>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>

        <div class="list__bottom">
          <div class="list__pagination">
            <!-- pagination for Shoha aka -->
          </div>
          <form class="list__select-wrap" id="page-size-form" method="get">
            {% for key, val in request.GET.items %}
            {% if key != "page_size" %}
            <input type="hidden" name="{{ key }}" value="{{ val }}">
            {% endif %}
            {% endfor %}
            <label for="select">Показать по: </label>
            <select name="page_size" id="select-page-size" class="list__select">
              <option value="16" {% if page_size == 16 %} selected {% endif %}>16</option>
              <option value="12" {% if page_size == 12 %} selected {% endif %}>12</option>
              <option value="8" {% if page_size == 8 %} selected {% endif %}>8</option>
              <option value="4" {% if page_size == 4 %} selected {% endif %}>4</option>
            </select>
          </form>
        </div>
      </section>
    </div>
  </main>
{% endblock %}
