{% extends 'admins/base_template.html' %}
{% load static %}
{% load str  %}

{% block main %}
  <main class="right" id="main-layout">
    <header>
      <nav class="navbar" style="height: 83px">
        <div class="nav__left">
          <h1 class="title">Клиент: {{ object.full_name }}</h1>
          <div class="two__btns d-flex align-items-center">
            <button id="clear-btn" class="list__item-btn me-1">
              <img src="{% static 'img/trash.svg' %}" alt="" />
            </button>
            <a href="{% url 'admins:clients_edit' object.id %}" class="list__item-btn d-flex">
              <img src="{% static 'img/pencil.svg' %}" alt="" />
            </a>
          </div>
        </div>

        <div class="nav__right evanescence">
          <div class="operator">
            <img src="{% static 'img/operator.svg' %}" alt="" />
            <p>{% if request.user.info.is_operator %}
              Operator:
              {% elif request.user.info.is_agent %}
              Agent:
              {% elif request.user.info.is_filial %}
              Filial admin:
              {% elif request.user.is_superuser %}
              Super Admin:
              {% endif %} {{ request.user.first_name }} {{ request.user.last_name }}</p>
          </div>
          <button class="back" onclick="history.back();">
            <i class="bx bx-left-arrow-alt"></i> Назад
          </button>
        </div>
      </nav>
    </header>
    <div class="background">
      <div class="row">
        <div class="col-6">
          <div class="cardo client__info mb-4">
            <h4 class="card__title">Информация о клиенте</h4>
            <form action="">
              <div class="items">
                <div class="item">
                  <label for="name"> Имя Фамилия Отчество </label>
                  <input
                    id="name"
                    type="text" {% if object.full_name %} value="{{ object.full_name }}" {% endif %}
                    class="item__input"
                    placeholder="Имя Фамилия Отчество"
                    disabled
                  />
                </div>
                <div class="item half__item">
                  <label for="birthday"> Дата рождения</label>
                  <input
                    id="birthday"
                    type="text" {% if object.bith_date %} value="{{ object.bith_date|date:'d.m.Y' }}" {% endif %}
                    class="item__input"
                    placeholder="Дата рождения"
                    disabled
                  />
                </div>
                <div class="item">
                  <label for="address"> Полный адрес</label>
                  <input
                    id="address"
                    type="text" {% if object.adres %} value="{{ object.adres }}" {% endif %}
                    class="item__input"
                    placeholder="Полный адрес"
                    disabled
                  />
                </div>
                <div class="item">
                  <label for="address">Адрес рождения</label>
                  <input id="address" disabled maxlength="255" type="text" {% if object.birth_adres %} value="{{ object.birth_adres }}" {% endif %}
                    class="item__input" placeholder="Адрес рождения" />
                </div>
                <div class="item">
                  <label for="address">Регион</label>
                  <input id="address" disabled maxlength="255" type="text" {% if object.state %} value="{{ object.get_state_display }}"
                    {% endif %} class="item__input" placeholder="Регион" />
                </div>
                <div class="item half__item disabled__item">
                  <label for="education"> Образование </label>
                  <div class="custom-select" style="width: 200px">
                    <select>
                      <option value="">Образование</option>
                      <option value="Oliy" {% if object.education == 'Oliy' %} selected {% endif %}>Oliy</option>
                      <option value="Orta" {% if object.education == 'Orta' %} selected {% endif %}>Orta</option>
                    </select>
                  </div>
                </div>

                <div class="item half__item">
                  <label for="num"> Контактный телефон </label>
                  <input
                    id="num"
                    type="text" {% if object.nbm %} value="{{ object.nbm }}" {% endif %}
                    class="item__input"
                    placeholder="Контактный телефон "
                    disabled
                  />
                </div>
                <div class="item radio__item disabled__item">
                  <label class="">Тип клиента</label>
                  <div class="flexer__select m-0">
                    <div class="">
                      <input
                        type="radio"
                        id="test1" 
                        name="radio-group"
                        {% if object.sex == 'Erkak' %} checked {% endif %}
                      />
                      <label class="radiohead radio-1" for="test1">
                        <p class="radio__txt">Erkak</p>
                      </label>
                    </div>
                    <div class="">
                      <input type="radio" id="test2" name="radio-group" {% if object.sex == 'Ayol' %} checked {% endif %} />
                      <label class="radiohead radio-2" for="test2">
                        <p class="radio__txt">Ayol</p>
                      </label>
                    </div>
                  </div>
                </div>
                <hr />
                <div class="item disabled__item">
                  <label for="education-1"> Oyilaviy xolati </label>
                    <input id="num" type="text" {% if object.family_status %} value='{{ object.family_status }}' {% endif %} class="item__input" placeholder="Oyilaviy xolati" disabled />
                </div>
                <div class="item half__item">
                  <label for="children"> Дети </label>
                  <input
                    id="children"
                    type="number" {% if object.child_count %} value="{{ object.child_count|to_string }}" {% endif %}
                    class="item__input"
                    placeholder="Дети "
                    disabled
                  />
                </div>

                <div class="item half__item">
                  <label for="children"> Children information </label>
                  <textarea id="children" type="text" class="editor" placeholder="Дети" disabled>{% if object.child_information %} {{ object.child_information }} {% endif %}</textarea>
                </div>

                <hr />
                <div class="item">
                  <label for="husband"> Супруг/Супруга </label>
                  <input
                    id="husband"
                    type="text" {% if object.spouse %} value="{{ object.spouse }}" {% endif %}
                    class="item__input"
                    placeholder="Супруг/Супруга "
                    disabled
                  />
                </div>
                <div class="item half__item">
                  <label for="birthday-2"> Дата рождение </label>
                  <input
                    id="birthday-2"
                    type="text" {% if object.spouse_birth_date %} value="{{ object.spouse_birth_date|date:'Y-m-d' }}" {% endif %}
                    class="item__input"
                    placeholder="Дата рождение"
                    disabled
                  />
                </div>

                <div class="item">
                  <label for="address">To'liq manzil</label>
                  <input id="address" name="spouse_adres" type="text" {% if object.spouse_adres %} value="{{ object.spouse_adres }}" 
                  {% endif %} maxlength="255" class="item__input" placeholder="To'liq manzil" />
                </div>
                <div class="item">
                  <label for="address">Tug'ilgan manzil</label>
                  <input id="address" name="spouse_birth_adres" {% if object.spouse_birth_adres %}
                    value="{{ object.spouse_birth_adres }}" {% endif %} maxlength="255" type="text" class="item__input"
                    placeholder="Tug'ilgan manzil" />
                </div>
                <div class="item half__item">
                  <label for="education"> Viloyat </label>
                  <input id="address" disabled maxlength="255" type="text" {% if object.spouse_state %} value="{{ object.get_spouse_state_display }}" 
                  {% endif %} class="item__input" placeholder="Регион" />
                </div>
                
                <div class="item half__item disabled__item">
                  <label for="education-1"> Образование </label>
                  <input type="text" class="item__input" placeholder="Дети " disabled {% if object.spouse_education %}
                    value="{{ object.spouse_education }}" {% endif %} />
                </div>
                
                <div class="item half__item">
                  <label for="num"> Telefon raqami </label>
                  <input id="num" name="spouse_nbm" {% if object.spouse_nbm %} value="{{ object.spouse_nbm }}" {% endif %} type="text"
                    maxlength="255" class="item__input" placeholder="Контактный телефон " />
                </div>
                <div class="item radio__item">
                  <label class="">Jinsi</label>
                  <div class="flexer__select m-0">
                    <div class="">
                      <input type="radio" value="Erkak" id="test3" name="spouse_sex" {% if object.spouse_sex == 'Erkak' %} checked 
                      {% endif %} />
                      <label class="radiohead radio-1" for="test3">
                        <p class="radio__txt">Erkak</p>
                      </label>
                    </div>
                    <div class="">
                      <input type="radio" value="Ayol" id="test4" name="spouse_sex" {% if object.spouse_sex == 'Ayol' %} checked 
                      {% endif %} />
                      <label class="radiohead radio-2" for="test4">
                        <p class="radio__txt">Ayol</p>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <hr />
            </form>
          </div>

          <div class="cardo file__card">
            <h4 class="card__title">Файлы</h4>

            <div class="file__items">
              <form action="">
                <div class="file__item mb-4">
                  <label for="passport"> Добавить копия паспорта </label>
                  <br><br>
                  {% if object.images %}
                  <div class="my-dropzone dropzone disabled__item" data-key="images" data-delete="/images/delete">
                    <div class="dz-preview-container" id="drop-image" style="padding: 0;">
                      <div class="dz-preview dz-processing dz-complete dz-image-preview d-none">
                        <div class="dz-image">
                          <img data-dz-thumbnail="" src="" alt="">
                        </div>
                        <div class="dz-details">
                          <div class="dz-filename"><span data-dz-name=""></span></div>
                        </div>
                        <a class="dz-remove" data-file="" data-dz-remove>Удалить</a>
                        <form action="{% url 'admins:del_client_file' %}" id="delete-form" method="post"></form>
                      </div>
                      {% for img in object.images.all %}
                      <div class="dz-preview dz-processing dz-complete dz-image-preview" style="position: relative;">
                        <div class="dz-image">
                          <img data-dz-thumbnail="" src='{% image_thumb img.image alias="ten" request=request %}' alt="{{ img.image }}">
                        </div>
                        <div class="dz-details">
                          <div class="dz-filename"><span data-dz-name="">{{ img.image }}</span>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                  {% endif %}
                  
                </div>
                <div class="file__item mb-4">
                  <label for="passport"> Добавить PDF файл </label>
                  <br><br>
                  {% if object.files %}
                  <div class="my-dropzone dropzone disabled__item" data-key="files" data-delete="/images/delete">
                    <div class="dz-preview-container" id="drop-files" style="padding: 0;">
                      <div class="dz-preview dz-processing dz-complete dz-image-preview d-none">
                        <div class="dz-image">
                          <img data-dz-thumbnail="" src="" alt="">
                        </div>
                        <div class="dz-details">
                          <div class="dz-filename"><span data-dz-name=""></span></div>
                        </div>
                        <a class="dz-remove" data-file="" data-dz-remove>Удалить</a>
                        <form action="{% url 'admins:del_client_file' %}" id="delete-form" method="post"></form>
                      </div>
                      {% for file in object.files.all %}
                      <div class="dz-preview dz-processing dz-complete dz-image-preview" style="position: relative;">
                        <div class="dz-image">
                          <a href="{{ file.file.url }}" style="position: relative; z-index: 9;">
                            <img data-dz-thumbnail="" src='{% static "img/pdf.png" %}' alt="{{ img.image }}">
                          </a>
                        </div>
                        <div class="dz-details">
                          <div class="dz-filename"><span data-dz-name="">{{ file.file }}</span>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                  {% endif %}
                  <!-- ПОСТАВЬ ДРОПЗОН СЮДА -->
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="cardo mb-4">
            <h4 class="card__title">Клиент:</h4>
            <form action="{% url 'admins:change_client_status' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="id" value="{{ object.id }}">
              <input type="hidden" name="url" value="{{ request.path }}">
              <div class="drop">
                <div class="drop__header" id="status-btn">
                  <div class="main__variant {{ object.status }}" id="main-variant">
                    {% if object.get_status_display == 'Operator qabul qildi' %}
                    <img src="{% static 'img/logo/download-black.svg' %}" alt="" />
                    Operator qabul qildi
                    {% elif object.status == 'new' %}
                    <img src="{% static 'img/logo/user.svg' %}" alt="" />
                    Yangi mijoz
                    {% elif object.get_status_display == 'Mijozga aloqaga chiqildi' %}
                    <img src="{% static 'img/logo/phone-outgoing.svg' %}" alt="" />
                    Mijozga aloqaga chiqildi
                    {% elif object.get_status_display == 'To‘lov qilindi' %}
                    <img src="{% static 'img/logo/refund.svg' %}" alt="" />
                    To‘lov qilindi
                    {% elif object.get_status_display == 'Operator tomonidan bekor qilish' %}
                    <img src="{% static 'img/logo/circle-exclamation.svg' %}" alt="" />
                    Operator tomonidan bekor qilish
                    {% elif object.get_status_display == 'GreenCard oldi' %}
                    <img src="{% static 'img/logo/happy-again.svg' %}" alt="" />
                    GreenCard oldi
                    {% elif object.get_status_display == 'GreenCard tomonidan bekor qilindi' %}
                    <img src="{% static 'img/logo/circle-x.svg' %}" alt="" />
                    GreenCard tomonidan bekor qilindi
                    {% endif %}
                  </div>
                  <div>
                    <i class="bx bx-chevron-down"></i>
                  </div>
                  <input type="hidden" id="hidden-input" name="status" value="{{ object.status }}" />
                </div>
                <div class="drop__body" id="status-body">
                  <button data-name="recieved" type="button" class="body__variant">
                    <img src="{% static 'img/logo/download-black.svg' %}" alt="" />
                    Operator qabul qildi
                  </button>
                  <button type="button" data-name="contacted" class="body__variant">
                    <img src="{% static 'img/logo/phone-outgoing.svg' %}" alt="" />
                    Mijozga aloqaga chiqildi
                  </button>
                  <button type="button" data-name="paid" class="body__variant">
                    <img src="{% static 'img/logo/refund.svg' %}" alt="" />
                    To‘lov qilindi
                  </button>
                  <button data-name="cancelled" type="button" class="body__variant">
                    <img src="{% static 'img/logo/circle-exclamation.svg' %}" alt="" />
                    Operator tomonidan bekor qilish
                  </button>
                  <button data-name="accepted" type="button" class="body__variant">
                    <img src="{% static 'img/logo/happy-again.svg' %}" alt="" />
                    GreenCard oldi
                  </button>
                  <button data-name="rejected" type="button" class="body__variant">
                    <img src="{% static 'img/logo/circle-x.svg' %}" alt="" />
                    GreenCard tomonidan bekor qilindi
                  </button>
                </div>
              </div>
              <p class="item__sub">Последнее изменение: {{ object.last_update }}</p>
              <button type="submit" class="confirm w-50">Изменить статус</button>
            </form>
          </div>
          <div class="cardo mb-4">
            <div class="info__item">
              <label class="info__sup">Принял(а) оператор</label>
              <div class="input__wrap">
                <input
                  type="text" 
                  disabled {% if object.operator %} value="{{ object.operator.firts_name }} {{ object.operator.last_name }}" 
                  {% endif %}
                  placeholder="Принял(а) оператор "
                />
                <i class="bi bi-person"></i>
              </div>
            </div>
            <div class="info__item">
              <label class="info__sup">Время принятие</label>
              <div class="input__wrap">
                <input type="text" disabled placeholder="Время принятие" {% if object.oper_date %} value="{{ object.oper_date|date:'Y-m-d' }}" {% endif %}/>
                <i class="bi bi-clock"></i>
              </div>
            </div>
            <hr />
            <div class="info__item">
              <label class="info__sup">Добавил(а) (Agent)</label>
              <div class="input__wrap">
                <input
                  type="text" disabled {% if object.agent %}
                  value="{{ object.agent.firts_name }} {{ object.agent.last_name }}" {% endif %}
                  placeholder="Добавил(а) (Agent) "
                />
                <i class="bi bi-person"></i>
              </div>
            </div>
            <div class="info__item">
              <label class="info__sup">Дата добавление</label>
              <div class="input__wrap">
                <input
                  type="text"
                  disabled value="{{ object.agent_date|date:'Y-m-d' }} {{ obj.agent_date|time:'H:i' }}"
                  placeholder="Дата добавление "
                />
                <i class="bi bi-clock"></i>
              </div>
            </div>
          </div>

          <div class="cardo p-0">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button
                    class="accordion-button acc__title"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    Комментарии
                  </button>
                </h2>
                <div
                  id="collapseOne"
                  class="accordion-collapse collapse show"
                  aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    {% for comment in object.comments.all %}
                    <div class="comment">
                      <div class="com__header">
                        <p class="com__name">{{ comment.user.first_name }} {{ comment.user.last_name }}</p>
                        <p class="com__date">{{ comment.date|date:'Y-m-d' }}</p>
                      </div>
                      <p class="com__txt">
                        {{ comment.text }}
                      </p>
                    </div>
                    {% endfor %}
                    <div class="leave">
                      <form action="{% url 'admins:add_comment' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="cliet" value="{{ object.id }}">
                        <input type="hidden" name="user" value="{{ request.user.id }}">
                        <input type="hidden" name="url" value="{{ request.path }}">
                        <textarea name="text" placeholder="Оставить комментарии"></textarea>
                        <button type="submit" class="confirm">Оставить</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

    {% block modals %}
    <div class="modal delete-modal" id="clear-modal">
      <div class="modal__wrap" id="clear-wrap"></div>
      <div class="modal__body" id="clear-body">
        <div class="delete__header">
          <h4 class="delete__title">Подтверждение на удаление</h4>
        </div>
        <div class="delete__body">
          <p class="delete__icon">
            <i class="bx bxs-error-circle"></i>
          </p>
          <p class="delete__txt">Вы уверены, что хотите удалить?</p>
        </div>
        <div class="delete__bottom">
          <button type="button" id="clear-cancel" class="delete__btn-1">
            Отмена
          </button>
        <button onclick="window.location=`{% url 'admins:del_client' object.id %}`" class="delete__btn-2">Удалить</button>
        </div>
      </div>
    </div>
    {% endblock %}

